html{
    height: 100%;
}
body {
    overflow: hidden;
    min-height: 100%;
	background-color:black;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

span {
	color: #ccc;
}

.fullBg {
    max-height: 90%;
    max-width: 100%;
    left: 0;
    position: absolute;
    top: 90px;
    #transform: translate(-50%, -50%);	
}
/*
.fullBg {
    position: fixed;
    top: 0;
    left: 0;
    max-height: 100%;
    max-width: 100%;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);	
}
*/
.nav {
    position: absolute;
    right: 35px;
    top: 35px;
    z-index: 110;
    float: none;
    clear: both;
    margin: 0;
    padding: 0;
}

.nav li, a, #Timeline span {
    cursor: pointer;
}

.nav a {
    background-color: rgba(255, 255, 255, 0.50);
}
.progress {
    margin-top: 5px;
	background-color: rgb(122,122,122);
}

.progress span {
	padding: 0 5px;
}

.progress-bar {
	color: black !important;
}

#Cameras {
	background-color: rgba(88,88,88,0.4);
    color: #eee;
    padding: 5px;
	text-align: left;
	position: fixed;
	top: 0;
	font-size: x-large;
	min-height: 40px;
}

#Cameras div {
	position:absolute;
	text-align:left;
	right: 80px;
	left: 0;
    overflow-x: auto;
    white-space: nowrap;	
}

#Cameras a {
	margin: 0 5px;
}

#MotionEvents {
    position: relative;
    left: 0;
    height: 100%;
    top: 45px;
	white-space: nowrap;
}

#MotionEvents > div {
	overflow-x: auto;
}

#MotionEvents span.dateGroup {
	border-color: #ccc;
    border-left: inset;
	padding-left: 3px;
}

#MotionEvents a {
	margin: 0 10px;
}

#Timeline {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;	
}

#Timeline span{
	margin: 0 5px;
	padding: 3px 4px;
	border-radius: 50%;
}

#Timeline span.selected {
	background-color: rgba(22,22,22,.65);
	font-weight: 900;
}

.selected {
	text-decoration: underline;
	font-weight:bold;
}

#webpageRefresh {
	position: fixed;
	right: 0;
	bottom: 0;
	height: 50px;
	width: 50px;
}

.removeEvents, .removeEvents:hover {
	color: red;
	cursor: pointer;
}

.btn-outline-danger,.btn-outline-danger:hover {
    color: #dc3545;
    background-color: transparent;
    background-image: none;
    border-color: #dc3545;
}

.btn-outline-danger.removeEvents {
    color: #eee;
    background-color: #dc3545;
    background-image: none;
    border-color: #dc3545;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}