<!DOCTYPE html>
<html ng-app="website">
<head>
	<meta charset="utf-8">
	<title>Camera Motion Capture</title>
	<meta name='viewport' content='width=device-width,height:window-height, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=auto' />
	<meta name="mobile-web-app-capable" content="yes">
	<link rel="icon" sizes="192x192" href="icon-hirez.png">
	<link rel="icon" sizes="128x128" href="icon-lowrez.png">
	<meta name='apple-mobile-web-app-capable' content='yes' />		
	<meta name="apple-mobile-web-app-title" content="Camera Motion Capture">
	
	<link rel="icon" type="image/png" href="favicon.ico">
	<meta name="ROBOTS" content="NOINDEX, NOFOLLOW">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <link href="css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">
</head>

<body ng-controller="MainCtrl">
	<div ng-if="mode=='Full'" ng-cloak id="Cameras" class="col-xs-12">
		<a style="float:right;" ng-if="params.admin" ng-class="{'removeEvents':toggleDelete}" class="btn btn-outline-danger" ng-click="functions.toggleDelete()">
			Delete
		</a>
		<div class="{{currentAnimation}}">
			<a ng-repeat="camera in cameras" ng-class="{'selected':camera.cameraName==selectedCamera}" ng-click="functions.loadMotions(camera.cameraName)">
				{{camera.cameraName}}
			</a>
		</div>
	</div>
	
	<div ng-if="mode=='Full'" ng-cloak id="MotionEvents" ng-show="selectedCameraIndex>-1" class="col-xs-12">
		<div class="{{currentAnimation}}">
			<span>
				<span ng-repeat="motion1 in cameras[selectedCameraIndex].motions | unique: 'date'" class="dateGroup">
					<text ng-class="{'removeEvents':toggleDelete}"
						ng-click="toggleDelete ? functions.removeEvent(selectedCamera,motion1.date,'day') : null">
						{{motion1.date}}
					</text>
					<a ng-repeat="motion in cameras[selectedCameraIndex].motions | filter: {date: motion1.date}" 
						ng-class="{'selected':motion.motionTime==selectedMotionTime, 'removeEvents':toggleDelete}" 
						ng-click="toggleDelete ? functions.removeEvent(selectedCamera,motion.motionTime,'event') : functions.getImages(selectedCamera,motion.motionTime)">
						{{motion.motionTime | date: 'h:mm:ss a' }}
					</a>
				</span>
			</span>
		</div>
	</div>
	
    <img ng-cloak ng-show="loaded" bg-image class="fullBg {{currentAnimation}}" ng-repeat="slide in slides track by slide.id"
		ng-swipe-left="previousSlide"
		ng-swipe-right="nextSlide"
        ng-hide="!isCurrentSlideIndex($index)"
        ng-src="{{slide.src}}" 
	/>
	<div ng-if="mode=='Event'">
		<style>
			.fullBg{
				top: 0;
			}
		</style>
	</div>
	
	<div ng-cloak id="Timeline" ng-show="loaded">
		<span ng-repeat="slide in slides" ng-click="setCurrentSlideIndex($index)" ng-class="{'selected':isCurrentSlideIndex($index)}" >
			{{$index+1}}
		</span>
	</div>

    <script src="libs/jquery.min.js"></script>
    <script src="libs/TweenMax.min.js"></script>
    <script src="libs/angular.min.js"></script>
    <script src="libs/angular-animate.min.js"></script>
    <script src="libs/angular-touch.min.js"></script>
	<script src="libs/angular-route.min.js"></script>
    <script src="libs/ui-bootstrap-tpls-0.11.0.min.js"></script>
    <script src="libs/preloadjs.min.js"></script>
    <script src="js/app.js"></script>

</body>
</html>
